.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 3rem;
  color: white;
  margin: 0 auto;
}

.selectedMovie {
  display: flex;
  padding: 2rem;
  gap: 3rem;
}

.arrow-back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 0.4rem;
}

.selectedMovie > figure {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px white;
  min-width: 300px;
  width: 30%;
  height: 451px;
}

.arrow-back:hover {
  cursor: pointer;
}

.arrow-back .MuiSvgIcon-root {
  font-size: 2rem;
}

.selectedMovie__info {
  display: flex;
  flex-direction: column;
}

.selectedMovie__title {
  font-size: 36px;
  color: #dc3535;
}

.selectedMovie__facts {
  display: flex;
  margin: 1rem 0;
  gap: 0.4rem;
  font-size: 16px;
  align-items: center;
  justify-content: flex-start;
}

.movie__facts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.selectedMovie__rated {
  padding: 4px 8px;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 6px;
  white-space: nowrap;
}

.selectedMovie__ratings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.selectedMovie__ratings span {
  font-size: 1rem;
  letter-spacing: 1px;
}

.selectedMovie__metascore {
  padding: 1rem 0.8rem;
  border-radius: 50%;
  background-color: black;
  font-size: 1.4rem;
}

.selectedMovie__score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.selectedMovie__imdbRating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid white;
}

.selectedMovie__imdbRating > span {
  opacity: 0.7;
  font-weight: 100;
}

.selectedMovie__overview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selectedMovie__overview h3 {
  font-size: 24px;
  color: #dc3535;
}

.selectedMovie__overview p {
  line-height: 1.6;
  letter-spacing: 1px;
}


.selectedMovie__cast,
.selectedMovie__director,
.selectedMovie__writer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.7rem 0;
}

.selectedMovie__boxoffice {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.7rem 0;
}

.selectedMovie__cast h3,
.selectedMovie__director h3,
.selectedMovie__writer h3,
.selectedMovie__boxoffice h3 {
  font-size: 24px;
  color: #dc3535;
}

.selectedMovie__cast p,
.selectedMovie__director p,
.selectedMovie__writer p,
.selectedMovie__boxoffice p {
  letter-spacing: 1px;
}

.favorite__button {
  margin-top: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: white;
  background-color: #dc3535;
  letter-spacing: 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  border: none;
}

.remove__button {
  color: black;
  background-color: rgb(255, 255, 255) !important;
}

.Recommended__movie {
  padding: 2rem;
}

.recommended__movie--wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Recommended__movie h2 {
  margin: 24px 0;
}

@media (max-width: 900px) {
  .selectedMovie {
    flex-direction: column;
  }

  .selectedMovie > figure {
    min-width: 200px;
    height: 333px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 24px;
    padding-right: 36px;
  }

  .selectedMovie {
    padding: 1.3rem 0;
  }

  .selectedMovie > figure {
    margin-left: 8px;
  }

  .selectedMovie__facts {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .selectedMovie__ratings {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .selectedMovie__imdbRating {
    margin: 0;
    width: 100%;
  }
  
  .Recommended__movie {
    padding: 0;
  }
}
